.whole {
    width: 900px;
    border: 2px solid #ccc;
    margin: 5px auto;
    box-shadow: 0px 0px 5px 0px #ccc;
    border-radius: 5px;
}

.w {
    width: 850px;
    margin: 0 auto;
}

.hd {
    height: 100px;
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fir p {
    margin: 7px 0px;
}

.fir input {
    width: 100%;
    outline: none;
    height: 35px;
    border-radius: 5px;
    padding-left: 5px;
    border: 1px solid #ccc;
}

.sec p {
    margin: 7px 0px;
}

.sec .left input {
    width: 200px;
    outline: none;
    height: 35px;
    border-radius: 5px;
    padding-left: 5px;
    border: 1px solid #ccc;
}

.line p {
    margin: 7px 0;
}

.line input {
    width: 200px;
    outline: none;
    height: 35px;
    border-radius: 5px;
    padding-left: 5px;
    border: 1px solid #ccc;
}

.line div {
    float: left;
    margin-right: 10px;
}

.sec {
    display: flex;
}

    .sec .rig {
        margin-left: 20px;
    }

        .sec .rig span {
            font-size: 12px;
            margin: 0 5px;
            position: relative;
            top: -5px;
        }

        .sec .rig input {
            width: 20px;
            height: 20px;
        }

.thi p {
    margin: 7px 0px;
}

.fourth p {
    margin: 7px 0px;
}

.fifth p {
    margin: 7px 0px;
}

.sixth p {
    margin: 7px 0px;
}

button {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 200px;
    height: 40px;
    background-color: green;
    color: white;
    transform: translateX(325px);
    border-radius: 8px;
    outline: none;
    border: 1px solid #ccc;
}
